<!DOCTYPE html>
<html>
<head>
	<title>To Do List</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="/stylesheet/todos.css">
	<script type="text/javascript" src="/js/lib/jquery.js"></script>
</head>
<body>

<div id="container">
	<h1>To-Do List <i class="fa fa-plus" aria-hidden="true"></i></h1>
	<form action = "/add" method = "post">
	<input type= "text" placeholder="Add New Todo" name = "item">
	</form>
	<ul> 
		<% items.forEach(function(item){ %>
		<li><span><i class="fa fa-trash"></i></span><%=item.task %></li>
		<% }); %>
	</ul>
</div>
<script>
	$("ul").on("click","li", function(){
	$(this).toggleClass("completed");

});



$('.input').keypress(function (e) {
  if (e.which == 13) {
    $('form#login').submit();
    return false;    //<---- Add this line
  }
});

$("ul").on("click","span", function(event){
	$(this).parent().fadeOut(500, function(){
		$(this).remove();
	});
	event.stopPropagation();
});

$(".fa-plus").click(function(){
	$("input[type='text']").fadeToggle();
});

</script>


<p>&copy; <script> document.write(new Date().getFullYear()) </script>
Himanshu Dhakrey</p>
<footer>
  <p>Contact information: <a href="mailto:himanshudhakrey2014@gmail.com">
  himanshudhakrey2014@gmail.com</a>.</p>
</footer>
</body>
</html>